/* === Estilos Generales === */

/* Color para los <h2> */
.colorH2 {
    color: #106efc;
}

/* Botones principales */
.btnPrimario {
    padding: 8px 13px;
    background-color: #106efc;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 0.9rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
    max-width: 150px;
}

.btnPrimario:hover {
    border: 2px solid #106efc;
    background-color: #3b89ff;
}

/* Contenedores flexibles en columna */
.columnaFlex {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Bloques con fondo y borde azul */
.cajaAzul {
    background-color: #b6e0f2;
    border: 2px solid #106efc;
    border-radius: 5px;
    padding: 15px;
}

.cajaAzul a {
    gap: 10px;
}

/* Texto informativo pequeño */
.textoInfo {
    font-size: 0.8rem;
    color: #6c757d;
}

/* === Estilos del index.js === */

.pag {
    display: flex;
}

.main {
    padding: 40px 120px;
    width: 100%;
}

.encabezado {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.logo {
    border-radius: 5px;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

/* === Estilos de logica.js === */

.cuerpo {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    box-sizing: border-box;
}

.cuerpo>* {
    box-sizing: border-box;
}

/* Proporción 2:1 */
.cuerpo> :first-child {
    flex: 2 1 0;
}

.cuerpo> :nth-child(2) {
    flex: 1 1 0;
}

.box {
    display: flex;
    flex-direction: column;
    position: relative;
}

.box textarea {
    padding: 13px;
    border: 2px solid transparent;
    border-radius: 5px;
    resize: none;
    font-size: 0.9rem;
    outline: none;
    font-family: "Segoe UI", Inter;
    line-height: 1.4;
}

.box textarea:focus {
    border: 2px solid #3b89ff;
}

.box small {
    position: absolute;
    bottom: 10px;
    right: 15px;
    pointer-events: none;
}

.response {
    margin: 0px 60px;
    min-width: 198px;
    white-space: pre-wrap;
    font-size: 1rem;
    justify-content: left;
    line-height: 1.4;
}

.response ul {
    padding: 0px 15px;
}

@media screen and (max-width: 600px),
screen and (max-height: 600px) {
    .main {
        padding: 40px 40px;
    }

    .response {
        margin: 0px 0px;
    }
}

/* Estilos de recomendaciones.js */

.recomendado {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-height: min-content;
    gap: 15px;
}

.recomendado a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* === Estilos de toggle.js === */

.sidePanel {
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    width: 218px;
    height: 100%;
    border-radius: 5px;
    padding: 1rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    gap: 15px;
    z-index: 1020;
    text-align: center;
}

.sidePanel.open {
    transform: translateX(0);
}

.sidePanel a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.panelBtn {
    position: fixed;
    top: 50%;
    left: -3px;
    transform: translateX(0);
    transition: transform 0.3s ease;
    z-index: 1010;
}

.panelBtn.open {
    transform: translateX(218px);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    backdrop-filter: blur(1px);
}